.section_doors {
    height: 370vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;   
    -webkit-box-sizing: border-box;
}
.spacing{
    height: 180rem;
}
body {
    overflow-x: hidden;
}

.door {
    width: 80%;
    height: 490rem;
    background: #000000;
    margin: 80px auto;
    position: relative;
    perspective: 1000px;
    backface-visibility: visible;
    overflow-y: clip;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;   
    -webkit-box-sizing: border-box;
}

.left{
    z-index:6 ;
    position: absolute;
    top: 0px;
    left: 0;
    width: 50%;
    height: 100%;
    border: 5px solid #332119;
    content: "";
    background: #231712;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;   
    -webkit-box-sizing: border-box;
}

.left::before {
    width: 5px;
    height: 30px;
    background: #643c2b;
    content: "";
    position: absolute;
    top: 50%;
    right: 5px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;   
    -webkit-box-sizing: border-box;
}

.right {
    z-index:6 ;
    position: absolute;
    top: 0px;
    right: 0;
    width: 50%;
    height: 100%;
    border: 5px solid #332119;
    content: "";
    background: #231712;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;   
    -webkit-box-sizing: border-box;


}

.right::before {
    width: 5px;
    height: 30px;
    background: #643c2b;
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;   
    -webkit-box-sizing: border-box;
}

@keyframes dooropen {
    0% {
        transform: rotateY(0deg);
    }

    100% {

        transform: rotateY(-116deg);
    }
    

}

@keyframes dooropenright {
    0% {
        transform: rotateY(0deg);
    }

    100% {

        transform: rotateY(116deg);
    }

}

.section-2{
background:pink;
padding: 0;
margin: 0;
box-sizing: border-box;
-moz-box-sizing: border-box;   
-webkit-box-sizing: border-box;
}

.section-3{
padding: 0;
margin: 0;
box-sizing: border-box;
-moz-box-sizing: border-box;   
-webkit-box-sizing: border-box;
}

@media (max-width: 1120px) and (min-width: 370px){
    .door{
        min-height: 910rem;
    }
    .spacing{
        min-height: 390rem;
    }
}

@media (max-height: 630px) and (min-width: 1120px){
    .door{
        min-height: 600rem;
    }
    .spacing{
        min-height: 270rem;
    }
}

@media (max-height: 630px) and (max-width: 1120px) and (min-width: 500px){
    .door{
        min-height: 930rem;
    }
    .spacing{
        min-height: 440rem;
    }
}

@media (min-height: 500px) and (max-width: 500px){
    .door{
        min-height: 970rem;
    }
    .spacing{
        min-height: 440rem;
    }
}

@media (max-width: 370px){
    .door{
        min-height: 1030rem;
    }
    .spacing{
        min-height: 475rem;
    }
}