@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap");
.slide_show_div{
    position: absolute; 
    top: 10vh; 
    z-index: 998; 
    background-color: white;
}

.slider {
  position: relative;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slide.current {
  opacity: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slide .content_slide {
  position: absolute;
  bottom: -300px;
  left: 0;
  width: 100%;
  opacity: 0;
  background-color: rgba(229, 235, 243, 0.8);
  color: #495b73;
  padding: 1rem;
  line-height: 1.3;
  box-sizing: border-box;
  margin: 0;
}

.slide .content_slide h1 {
  margin-bottom: 0.625rem;
  color: #362a2b;
  font-size: 1.5rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slide.current .content_slide {
  opacity: 1;
  transform: translateY(-300px);
  transition: all 0.7s ease-in-out;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* slides images 1600x900 */
.slide:first-child {
  background: url("../images/slideshow/slide1.jpg") no-repeat
    center top/cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slide:nth-child(2) {
  background: url("../images/slideshow/slide2.jpg") no-repeat
    center top/cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slide:nth-child(3) {
  background: url("../images/slideshow/slide3.jpg") no-repeat
    center top/cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slide:nth-child(4) {
  background: url("../images/slideshow/slide4.webp") no-repeat
    center top/cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slide:nth-child(5) {
  background: url("../images/slideshow/slide5.jpg") no-repeat
    center top/cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slide:nth-child(6) {
  background: url("../images/slideshow/slide6.avif") no-repeat
    center center/cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 1rem;
  box-sizing: border-box;
}

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 1rem;
  box-sizing: border-box;
}

.buttons button {
  border: 2px solid #e5ebf3;
  background-color: transparent;
  color: #e5ebf3;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
  box-sizing: border-box;
}

.buttons button:hover {
  background-color: #e5ebf3;
  color: #362a2b;
  box-sizing: border-box;
}

@media (min-width: 640px) and (min-height: 640px) {
  .slide .content_slide {
    bottom: 70px;
    left: -600px;
    width: 600px;
    padding: 2rem;
    line-height: 1.6;
    box-sizing: border-box;
    margin: 0;
  }

  .slide .content_slide h1 {
    font-size: 2rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .slide.current .content_slide {
    transform: translateX(600px);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
