{% load static %}
<html>
<head>
	<title>Navbar</title>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
</head>
<body>
	<header>
		<a> 
			<img class="logo" src="{% static 'images/logo.png' %}" alt="Logo">
		</a>
		<input type="checkbox" id="nav-toggle" class="nav-toggle">
		<nav>
			<ul>
				<li><a class = "page_link_nav" href="{% url 'home' %}">Home</a></li>
				<li><a class = "page_link_nav" href="#">About</a></li>
				<li><a class = "page_link_nav" href="#">Blog</a></li>
				<li><a class = "page_link_nav" href="{% url 'contact' %}">Contact</a></li>
			</ul>
		</nav>
		<label for="nav-toggle" class="nav-toggle-label">
			<span></span>
		</label>
	</header>
	{% block content %}
	{% endblock content %}

</body>
</html>
