{% load static %}

<head>
    <link href="{% static 'styles/home.css' %}" rel="stylesheet">
</head>

<body>    
    <nav class="navbar">
        <a href="#top">
            <img id="logo" src="{% static 'images/logo.png' %}" alt="Logo">
        </a>
        <a href="mailto:mihir.mittal@student.manchester.ac.uk">About</a>
        <a>Contact</a> 
        <button class="login">Login</button>
    </nav>
    <img class="backdrop" src="{% static 'images/background_1.jpg' %}" alt="background image">
</body>